*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-item{
    list-style: none;
    text-transform: uppercase;
    margin-right: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

.nav-item:hover{
    border: 1px solid white;
    border-radius: 10px;
}

.dropdown{
    list-style: none;
    text-transform: uppercase;
    margin-right: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

.dropdown:hover{
    border: 1px solid white;
    border-radius: 10px;
}
.usravatar{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}