{% extends 'layout.html' %}

{% block body %}
    <h1 class="jumbotron text-center">The idea behind that was</h1>
        <p>Blog single-origin coffee keffiyeh disrupt air plant. Actually 90's beard, four loko enamel pin salvia dreamcatcher hexagon sartorial prism mumblecore. Raw denim schlitz shoreditch cliche kickstarter pop-up beard hot chicken polaroid street art prism DIY yr. Everyday carry direct trade post-ironic iPhone meggings godard actually food truck kale chips hexagon poutine. Prism meditation freegan letterpress thundercats seitan. Roof party 3 wolf moon dreamcatcher ennui swag tacos, four loko woke meh gochujang photo booth.,Raw denim organic DIY marfa polaroid selfies hella retro hexagon fashion axe. Copper mug literally umami before they sold out yr DIY. Farm-to-table single-origin coffee art party air plant, vice austin tbh fixie iPhone squid leggings everyday carry flexitarian locavore. Post-ironic live-edge wolf, meggings narwhal tofu cronut selvage pok pok mlkshk selfies sriracha.</p>
    
{% endblock %}